* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Edu TAS Beginner', cursive;
    font-size: large;
    background-color: #023047;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    color: #219ebc;
    font-weight: bold;
    font-size: xx-large;
}

p {
    color: white;
}

/* header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #023047;
    width: 100%;
    position: fixed;
    top: 0;
}

header .logoHeader img {
    width: 120px;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header nav ul {
    display: flex;
    font-weight: 700;
}

header nav ul li {
    margin: 20px;
    margin-bottom: 0
}

header nav ul :hover {
    background-color: #ffb703;
    size: 20px;
    box-shadow: 2px 2px 2px white;
}

header nav ul li a {
    color: white;
}

/* footer */

#piePagina {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer ul li {
    display: inline;
    margin: 10px;
}

footer h3 {
    padding-bottom: 10px;
}

.redes {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.redes h3 {
    padding-left: 8px;
}

.redes img {
    width: 30px;
}

.infoContacto {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tratamientoDatos {
    color: white;
    padding-top: 20px;
}

.wpp {
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 50px;
}

/* main index */

.portadaPrincipal img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding-top: 100px;
}

.caja1 {
    font-weight: 500;
    margin: 40px;
    text-align: center;
}

.caja2 {
    margin: 20px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: x-large;
}

.boxServicios {
    font-weight: 500;
    text-align: center;
    margin: 40px;
}

.boxServicios h2 {
    color: #219ebc;
    font-weight: bold;
    font-size: xx-large;
}

div.principalServicios {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cardServiciosNova {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cardServiciosNova a {
    color: #fb8500;
    font-size: x-large;
    font-weight: 600px;
    font-style: oblique;
    text-align: center;
}

.cardServiciosNova :hover {
    color: brown;
}

.cardServiciosNova img {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.videosTutoriales {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.video iframe {
    width: 500px;
    height: 300px;
    margin: 50px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.video h2 {
    color: #219ebc;
    text-align: center;
    margin: 50px;
    margin-bottom: 0;
    font-weight: 400px;
    font-style: italic;
}

/* main page quienes somos */

.portadaQuienesSomos {
    height: 90vh;
    text-align: center;
    padding-top: 8%;
    margin: 50px;
}

.portadaQuienesSomos h1 {
    margin-bottom: 50px;
}

.portadaQuienesSomos p {
    font-size: larger;
}

.misionVisionPoliticas {
    display: flex;
    flex-direction: column;
}

.misionVisionPoliticas h2 {
    text-align: center;
    font-size: xx-large;
    color: #219ebc;
}

.misionVisionPoliticas p {
    text-align: center;
    margin: 50px;
    font-size: larger;
}

/* main page telas */

.tituloTelas {
    margin-top: 130px;
    text-align: center;
}

#secImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 100vh;
    padding: 30px;
}

#secImg img {
    height: 250px;
    width: 250px;
    border: solid 3px darkgrey;
    border-radius: 20px;
}

#secImg img:hover {
    box-shadow: 5px 5px 10px white;
}

.cardTelas {
    text-align: center;
    padding: 30px;
    border: solid black 5px;
    background-color: #8ecae6;
    padding-bottom: 20px;
}

.cardTelas h2 {
    color: #fb8500;
    font-weight: 600;
    font-size: larger;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}

/* main page dotacion */

.tituloDotacion {
    margin-top: 130px;
    text-align: center;
}

.tituloDotacion h1 {
    margin-bottom: 30px;
}

.tituloDotacion h2 {
    margin-top: 30px;
    margin-left: 100px;
    color: #fb8500;
    font-weight: 800px;
    font-size: xx-large;
    text-align: left;
}

.cardDotacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardDotacion img {
    height: 400px;
    width: 400px;
    margin: 30px;
    border: solid 3px lightblue;
    border-radius: 20px;
}

.productosDotacion {
    margin: 50px;
    text-align: center;
}

.productosDotacion h3 {
    color: #ffb703;
}

/* main page seguridad */

.tituloSeguridad {
    margin-top: 130px;
    text-align: center;
}

.tituloSeguridad h1 {
    margin-bottom: 30px;
}

.imagenesSeguridad img {
    height: 400px;
    width: 400px;
    border: solid 3px lightgrey;
}

.imagenesSeguridad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardProductosSec {
    margin: 30px;
    padding-bottom: 30px;
    color: #ffb703;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.cardProductosSec h2 {
    margin-bottom: 30px;
    color: #ffb703;
    font-weight: 600;
    font-style: italic;
}


/* main page contactanos */

.formulario {
    height: 80vh
}

.tituloContactanos {
    margin-top: 130px;
    text-align: center;
}

.datos {
    margin: 30px;
}

form fieldset div label {
    color: white;
}

form fieldset legend {
    color: white;
}

.mensaje {
    display: flex;
    margin-bottom: 20px;
}


/* MOBILE: < 576PX */
@media screen and (max-width: 576px) {

    header {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    header nav ul li {
        margin: 0;
        padding-top: 20px;
        padding-left: 6px;
        font-size: small;
    }

    header .logoHeader img {
        width: 100px;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .portadaPrincipal img {
        width: 100%;
        height: auto;
        object-fit: cover;
        padding-top: 200px;
    }

    .cardServiciosNova img {
        width: 90vw;
        height: auto;
        border-radius: 6px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }

    .video h2 {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 50px;
    }

    .video iframe {
        width: 90vw;
        height: 350px;
        margin: 0;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }

    #piePagina {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    footer {
        padding-bottom: 20px;
    }

    .tituloTelas {
        margin-top: 200px;
        text-align: center;
    }

    #secImg {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
    }

    #secImg img {
        height: 250px;
        width: 80vw;
        border: solid 3px darkgrey;
        border-radius: 20px;
    }


    #secImg img:hover {
        box-shadow: 5px 5px 10px white;
    }

    .tratamientoDatos {
        padding-left: 60px;
    }

    .redes {
        padding-top: 30px;
    }

    .redes img {
        width: 50px;
    }

    .portadaQuienesSomos {
        height: 100vh;
        text-align: center;
        padding-top: 8%;
        padding-bottom: 8%;
        margin: 50px;
    }

    .portadaQuienesSomos h1 {
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .misionVisionPoliticas h2 {
        padding-top: 10px;
    }

    .misionVisionPoliticas p {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: larger;
    }

    .tituloSeguridad {
        margin-top: 200px;
    }

    .tituloContactanos {
        margin-top: 200px;
    }

}